body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  .perfil-imagen {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .redes-sociales a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
  }
  
  .redes-sociales a:hover {
    color: #007bff;
  }
  